/BsoUploader.exe
/FluentFTP.dll
/imagenes/cuadernos
/imagenes/capitulos
/imagenes/entrevistas
/imagenes/textos
/imagenes/thumbnails
/imagenes/saludos
/imagenes/links
/imagenes/tmp
/api/sessions
/static
/templates/templates.min.js
/scripts/scripts.min.js
