<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	
	<title>BSO (Banda Sonora Original)</title>
	
	<link href="styles/styles.css" rel="stylesheet">
	<link href="styles/material.css" rel="stylesheet">
	<link href="styles/vuetify_1.5.4.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	
	<link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#DD3333">
	<meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#DD3333">
	
	<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> -->
	<style type="text/css">
		 [v-cloak] {
		    display: none;
		 }
		 
	</style>

	<base href="/bso-radio/">
</head>
<body onresize="updateMinHeight()">
	<v-app id="app" app>
		<v-content style="background-color:rgb(60, 60, 60)" v-cloak>
			<v-container class="main-container" style="background-color:rgb(60, 60, 60)">
				 <v-layout row wrap>
			      <v-flex xs12 lg10 xl8 class="mx-auto main-panel" id="main-panel" >
			      	<v-layout row wrap>
			      		<v-flex xs12 xl10 class="mx-auto" id="submain-panel">
				      		<img v-if="imagenGrande" src="imagenes/logo-bso.webp" style="max-width: 100%" class="elevation-7 mx-auto"></img>
				      		<img v-if="!imagenGrande" src="imagenes/logo-bso_sml.webp" style="max-width: 100%" class="elevation-7 mx-auto"></img>
					      	<v-carousel v-if="mostrarCarousel()" id="el-carousel" height="350" hide-controls hide-delimiters  class="elevation-7 bso-carousel">
						      <v-carousel-item v-for="(imagen,i) in imagenes" :src="imagen.src" :key="i"></v-carousel-item>
						    </v-carousel>
					      
							<v-tabs id="navBar" grow fixed-tabs router show-arrows dark color="teal lighten-2"  slider-color="teal darken-3">
								<v-tab to="/" class="bar-button"><v-icon>home</v-icon></v-tab>
								<v-tab to="/temporadas" class="bar-button">Temporadas</v-tab>
								<v-tab to="/bso-escribe/1" class="bar-button">¡BSO escribe!</v-tab>
								<v-tab to="/bso-escucha/1" class="bar-button">¡BSO escucha!</v-tab>
								<v-tab to="/quienes-somos" class="bar-button">Quienes Somos</v-tab>
								<v-tab to="/cuadernos">¡Cuadernos!</v-tab>
							</v-tabs>
							<transition name="fade" mode="out-in">
								<router-view></router-view>
							</transition>
							<v-btn color="teal" dark bottom right fab fixed onclick="scrollToTop()">
				              <v-icon>expand_less</v-icon>
				            </v-btn>
						</v-flex>
						</v-layout>
			      </v-flex>
			      </v-layout>
			</v-container>
		</v-content>
	</v-app>


		<!-- production version, optimized for size and speed 
		<script src="scripts/vue.min.js"></script> -->
		
		<script src="scripts/modernizr.min.js"></script> 
		<script src="scripts/dayjs.min.js"></script> 
		<script src="scripts/vue.js"></script> 
		<script src="scripts/vue-router.js"></script>
		<script src="scripts/vuetify_1.5.4.js"></script>
		<script src="scripts/vue-resource.js"></script>
		<!-- <script src="scripts/scripts.min.js"></script>-->
		
		
		
		<script type="text/javascript" src="components/cuaderno-zoom.js"></script>
		<script type="text/javascript" src="components/publicidad-component.js"></script>
		<script type="text/javascript" src="components/links-component.js"></script>
		<script type="text/javascript" src="templates/inicio.js"></script>
		<script type="text/javascript" src="templates/bso-escribe.js"></script>
		<script type="text/javascript" src="templates/texto.js"></script>
		<script type="text/javascript" src="templates/bso-escucha.js"></script>
		<script type="text/javascript" src="templates/cuadernos.js"></script>
		<script type="text/javascript" src="templates/capitulo.js"></script>
		<script type="text/javascript" src="templates/quienes-somos.js"></script>
		<script type="text/javascript" src="templates/temporadas.js"></script>
		
		<script type="text/javascript" src="templates/index.js"></script>
		 
		<!-- <script type="text/javascript" src="templates/templates.min.js"></script>-->
		 
</body>
</html>