.carousel {
	height: 380px !important;
}

.main-container {
	padding: 0px !important;
}

.bar-button {
	border-right: 1px solid #EEEEEE !important;
}
.bar-sticky{
	position: fixed!important;
  	top: 0!important;
  	z-index:3;
}

.panel-temporada-content .v-expansion-panel__body {
	border-top: 1px solid #ccc !important;
	text-align: center;
}

/* .texto-capitulo { */
/* 	max-height: 150px; */
/* 	text-overflow: ellipsis; */
/* 	overflow: hidden; */
/* 	text-align: justify; */
/* } */

.escrito-resenia-autor {
	font-weight: bold;
}

.escrito-resenia-texto{
	text-align: justify;
}

.entrevista-texto {
	text-overflow: ellipsis;
	overflow: hidden;
}

.entrevista-autor {
	font-weight: bold;
}

.staff-intro {
	border-bottom: 1px solid #26a69a;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.staff-header {
	padding-top: 10px;
	text-align: center;
	width: 100%;
	font-weight: bold;
}

.staff-texto {
	text-align: center;
	width: 100%;
}

.inicio-panel-derecha {
	height: 95% !important;
	margin-left: 5px;
	margin-top: 5px;
}

.post-seccion {
	font-size: 16px !important;
	color: #01B1AF;
}

.post-titulo {
	color: #01B1AF;
}

.post-texto {
	max-height: 150px;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: justify;
}

.capitulo-titulo {
	color: #01B1AF;
}

.capitulo-panel-derecha {
	height: 95% !important;
	margin: 5px;
    padding-bottom: 30px!important;
}

.bso-carousel {
	height: 350px;
}

.carousel-animation-out {
	animation-name: carousel-out;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.carousel-animation-in {
	animation-name: carousel-in;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes carousel-out {
	from {
		height: 350px;
	}
	to {
		height: 0px;
	}
}
@keyframes carousel-in {
	to {
		height: 350px;
	}
	from {
		height: 0px;
	}
}
.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	transition: opacity 500ms ease;
}

.fade-leave {
	
}

.fade-leave-active {
	transition: opacity 500ms ease;
	opacity: 0;
}

.slide-leave-active, .slide-enter-active {
	transition: 1s;
}

.slide-enter {
	transform: translate(100%, 0);
}

.slide-leave-to {
	transform: translate(-100%, 0);
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
	transition: all .3s ease;
}

.slide-fade-leave-active {
	transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active below version 2.1.8 */ {
	transform: translateX(10px);
	opacity: 0;
}

.main-panel {
	background-color: #DDDDDD;
}

.autor-texto {
	margin-bottom: 20px;
	font-weight: bold;
}
.contenido-texto p{
	margin-bottom:4px !important;
}

.tag-nuevo {
	font-weight:bold;
	padding-left:10px;
}

.img-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .9);
	text-align: center;
	z-index: 10;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.img-holder {
	/* max-width: 600px; */
	margin: 0 auto;
	position: relative;
	max-height: 100vh;
}

.img-close {
	right: 10px;
	top: 0;
	font-size: 30px;
	width: 50px;
	/* opacity: .6; */
	z-index: 1000000;
	position: absolute;
	text-align: center;
	box-sizing: border-box;
	color: rgba(255, 255, 255, .7);
	background-color: rgba(0, 0, 0, .5);
}

.img-close:hover {
	color: white;
	background-color: rgba(0, 0, 0, .7);
}

.img-next {
	right: 0;
	justify-content: flex-end;
}

.img-prev {
	left: 0;
	justify-content: flex-start;
}

.img-prev, .img-next {
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 10px;
	width: 50%;
	box-sizing: border-box;
	font-size: 40px;
	display: flex;
	align-items: center;
}

.img-prev>i, .img-next>i {
	font-size: 40px;
	position: relative;
	background-color: black;
	color: rgba(255, 255, 255, .7)!important;
}

.img-prev>i:hover, .img-next>i:hover {
	color: white!important;
}

.img-img {
	/* width: 100%;
    max-width: 600px; */
	cursor: pointer;
	box-sizing: border-box;
	display: block;
	max-height: 100vh;
	max-width: 100vw;
}
.video-style{
	display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: auto;
}

.main-toolbar > .v-toolbar__content{
	padding-right:0px!important;
}
.btn-link-capitulo{
	margin-bottom: 8px!important;
	margin-left: 8px!important;
    margin-right: 8px!important;
}
.btn-small{
	min-width: 40px!important;
}
.fab-link-capitulo{
	margin-right:10px!important;
	border-radius:2px!important;
}